/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: Arkhip;
  src: url(fonts/Arkhip_font.ttf);
}
ul li {
  list-style: none;
}

body {
  background-color: rgb(78, 75, 75);
  color: #fff;
  font-size: 16px;
  /*font-family: "Raleway", sans-serif;*/
  font-family: "Roboto", sans-serif;

}
a, a:hover {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}


header address {
  margin: 0;
  text-align: center;
}
header address a {
  display: inline-block;
  padding: 5px 20px;
  font-size: 14px;
}
a.phone-link {
  font-family: "Arkhip", sans-serif;
}
a.mail-link {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
header address a > i {
  margin-right: 8px;
}
header > .top-menu {
  width: 100%;
  background-color: #000;
  padding: 10px 0;
  position: relative;
}
.top-menu.sticky {
  position: fixed;
  top: 0;
  padding: 5px 0;
  z-index: 100;
}
.top-menu a.logo {
  display: inline-block;
  max-width: 100%;
  margin: auto;
  transition: max-width 0.3s ease;
}
.top-menu a.logo img {
  max-height: 50px;
  max-width: 100%;
}
.top-menu  nav {
  display: flex;
  position: relative;
}
.top-menu ul {
  margin: 0;
  padding: 0;
  align-self: center;
}
.top-menu ul li {
  display: inline-block;
}
.top-menu ul li a {
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  text-align: center;
  /*transition: background-color 0.3s linear;*/
}
.top-menu ul li a:hover {
  background-color: rgb(78, 75, 75);
}
#menu-hamburger {
  position: absolute;
  height: 30px;
  top: 50%;
  margin-top: -14px;
  right: 15px;
  font-size: 30px;
  line-height: 30px;
  display: none;
}
#menu-hamburger:before {
  content: "М \00a0 \00a0 \00a0НЮ";
  top: 0;
  left: -14px;
  position: absolute;
}
#menu-hamburger > .bar-button {
  width: 25px;
  height: 30px;
  margin-right: 36px;
  position: relative;
}
#menu-hamburger > .bar-button:hover {
  cursor: pointer;
}
.bar-button > div {
  position: absolute;
  height: 2px;
  background-color: white;
  width: 25px;
}
.bar-button > .top-bar {
  top: 3px;
  transition-property: top, transform;
  transition-duration: 0.3s, 0.3s;
}
.bar-button > .middle-bar {
  top: 0px;
  margin-top: 12px;
}
.bar-button > .bottom-bar {
  bottom: 6px;
  transition-property: bottom, transform;
  transition-duration: 0.3s, 0.3s;
}
#menu-hamburger:before, .bar-button > .middle-bar {
  transition-property: top, opacity;
  transition-duration: 0.4s, 0.3s;
}
#menu-hamburger.opened > .bar-button > .top-bar {
  top: 14px;
  transform: rotate(45deg);
}
#menu-hamburger.opened > .bar-button > .bottom-bar {
  bottom: 14px;
  transform: rotate(-45deg);
}
#menu-hamburger.opened:before,
#menu-hamburger.opened > .bar-button > .middle-bar {
  top: 30px;
  opacity: 0;
}

header > .banner {
  position: relative;
  background-color: #312f2f;
  min-height: 250px;
  padding: 30px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/laptop-photo-dark.jpg');
}
header > .banner:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  content: "";
}
header h1 strong {
  font-family: "Arkhip", sans-serif;
}
.banner-content p {
  text-align: justify;
}
.banner-content a {
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #fff;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.1s linear;
}
.banner-content a:hover, .banner-content a:focus {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.intro-text {
  background-color: #fff;
  padding: 40px 0;
  color: #000;
}
.intro-text h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: "Arkhip", sans-serif;
}
.intro-text p {
  text-align: justify;
}
.intro-text p strong {
  font-family: "Arkhip", sans-serif;
}
ol.steps {
  list-style: none;
  counter-reset: steps-counter;
  padding-left: 0px;
  margin-bottom: 0;
}
ol.steps > li {
  counter-increment: steps-counter;
  position: relative;
  padding: 0 0 20px 50px;
}
ol.steps > li:last-child {
  padding-bottom: 0;
}
ol.steps > li:before {
  position: absolute;
  left: 5px;
  top: 0;
  display: block;
  height: 35px;
  width: 35px;
  content: counter(steps-counter);
  font-family: "Arkhip", sans-serif;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 100%;
  background-color: #fff;
  z-index: 20;
}
ol.steps > li:after {
  position: absolute;
  content: "";
  display: block;
  left: 22px;
  margin-left: -1px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #000; 
}
ol.steps > li:last-child:after {
  display: none;
}
ol.steps > li > h4 {
  font-family: "Arkhip", sans-serif;
  font-size: 20px;
  line-height: 37px;
  margin-bottom: 10px;
}
ol.steps > li > p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  color: #4b4b4b;
}

@media (min-width: 993px){
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px){
  #menu-hamburger {
    display: block;
  }
  .top-menu ul {
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 10px;
    padding-top: 10px;
    z-index: 10;
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: center top;
    transition-property: transform, opacity;
    transition-duration: 0.4s, 0.3s;
    transition-delay: 0.1s;
  }
  .top-menu ul.opened {
    transform: rotateX(0deg);
    opacity: 1;
  }
  .top-menu ul li {
    display: block;
    background-color: #000;
  }
  .top-menu ul li a{
    padding: 10px;
  }
}
@media (max-width: 576px){
  .top-menu a.logo {
    max-width: 180px;
  }
  #menu-hamburger {
    height: 22px;
    margin-top: -9px;
    font-size: 22px;
    line-height: 22px;
  }
  #menu-hamburger > .bar-button {
    width: 15px;
    margin-right: 25px;
    height: 22px;
  }
  .bar-button > div {
    width: 15px;
  }
  .bar-button > .top-bar {
    top: 2px;
  }
  .bar-button > .middle-bar {
    margin-top: 9px;
  }
  .bar-button > .bottom-bar {
    bottom: 4px;
  }
  #menu-hamburger:before {
    left: -8px;
  }
  #menu-hamburger.opened > .bar-button > .top-bar {
    top: 8px;
  }
  #menu-hamburger.opened > .bar-button > .bottom-bar {
    bottom: 12px;
  }
}
/*=========================================================================
BLOCK OF STICKY TOP MENU STYLES
=========================================================================*/
.top-menu.sticky a.logo {
  max-width: 180px;
}
.top-menu.sticky ul {
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 10px;
    padding-top: 10px;
    z-index: 10;
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: center top;
    transition-property: transform, opacity;
    transition-duration: 0.4s, 0.3s;
    transition-delay: 0.1s;
    visibility: hidden;
}
.top-menu.sticky ul.opened {
    display: block;
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}
.top-menu.sticky ul li {
    display: block;
    background-color: #000;
}
.top-menu.sticky ul li a{
    padding: 10px;
}
.top-menu.sticky #menu-hamburger {
    display: block;
}
.top-menu.sticky #menu-hamburger {
    height: 22px;
    margin-top: -9px;
    font-size: 22px;
    line-height: 22px;
}
.top-menu.sticky #menu-hamburger > .bar-button {
    width: 15px;
    margin-right: 25px;
    height: 22px;
}
.top-menu.sticky #menu-hamburger > .bar-button > div {
    width: 15px;
}
.top-menu.sticky #menu-hamburger > .bar-button > .top-bar {
    top: 2px;
}
.top-menu.sticky #menu-hamburger > .bar-button > .middle-bar {
    margin-top: 9px;
}
.top-menu.sticky #menu-hamburger > .bar-button > .bottom-bar {
    bottom: 4px;
}
.top-menu.sticky #menu-hamburger:before {
    left: -8px;
}
.top-menu.sticky #menu-hamburger.opened > .bar-button > .top-bar {
    top: 8px;
}
.top-menu.sticky #menu-hamburger.opened > .bar-button > .bottom-bar {
    bottom: 12px;
}

@media (max-width: 576px){
  .top-menu.sticky a.logo {
    max-width: 100px;
  }
  .top-menu.sticky #menu-hamburger:before {
    display: none;
  }
  .top-menu.sticky #menu-hamburger > .bar-button {
    margin-right: 0;
  }
}


 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


